/*body{
    background-color:rgb(190, 245, 194)
}*/
.content{
    background-color:rgb(152, 243, 125);
    color:white;
}
body{
    background-image:url('../css4/images/nen2.jpg');
    background-attachment: scroll;
}
.block{
    color:black;
    background-image: url('../css4/images/nen4.jpg');
    background-color:rgb(125, 125, 236);
    background-size: 200px;
    height:200px;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.banner{
    color:black;
    background-image: url('../css4/images/nen3.jpg');
    background-size:200px;
    height:1000px;
    background-repeat: repeat-x;
}
.element{
    height:300px;
    background:rgb(152, 243, 125) url(../css4/images/nen2.jpg) no-repeat 50px 30px;
    background-size:200px;
    color:white
}